<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="assets/css/gallery.css">
</head>
<body>
    <main id="container">
        <div id="gallery">
            <!-- Image Gallery -->
             
        </div>
        <h1 id="anjali">Anjali - table view</h1>
        <h1 id="rohini" class="hide">Rohini - List view</h1>
        <button type="button" id="btnAnjali">Anjali</button>
        <button type="button" id="btnRohini">Rohini</button>
        <!-- table -->
         <table border="1" cellspacing="0", cellpadding="10" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Course</th>
                    <th>Phone</th>
                    <th>city</th>
                </tr>
            </thead>
            <tbody id="tbl_data"></tbody>
         </table>
    </main>
    <script src="assets/script/gallery.js"></script>
</body>
</html>