<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project - Views</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="assets/css/views.css">
</head>
<body>
    <header>
        <!-- logo -->
         <div class="logo">Fusion</div>
         <!-- Menu -->
          <nav id="navbar">
            <ul id="menu">
                <!-- <li><a href="#">List</a></li>
                <li><a href="#">Grid</a></li> -->
            </ul>
          </nav>
    </header>
    <main id="container">
        <!-- Section - Table -->
         <section class="section" id="sec-table">
            <table border="1" cellspacing="0" cellpadding="10" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Phone</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody id="userTbody"></tbody>
            </table>
         </section>
         <!-- Section - Card -->
         <section class="section hide" id="sec-card">
            Card Ui
         </section>
    </main>
    <script src="assets/script/views.js"></script>
</body>
</html>