*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fec201;
}

html, body{
    background-color: rgb(43, 31, 59);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.box-img {
    display: inline-block;
    vertical-align: middle;
    width: 23%;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    padding: 5px;
    margin: 5px;
}
.box-img h2 {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    color: darkorchid;
}
.box-img img {
    width: 100%;
    height: auto;
}
.hide {
    display: none;
}